{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
{% spaceless %}
    <div class="form-group{{ errors ? ' has-error' }}">
        {{ form_label(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock %}

{% block form_label %}
{% spaceless %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' control-label')|trim}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock %}

{% block form_errors %}
{% spaceless %}
    {% for error in errors %}
        <p class="help-block">{{ error.message }}</p>
    {% endfor %}
{% endspaceless %}
{% endblock form_errors %}

{% block checkbox_row %}
{% spaceless %}
    <div class="checkbox">
        {{ form_widget(form) }}
        {{ form_label(form) }}
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock %}

{% block radio_row %}
{% spaceless %}
    <div class="radio">
        {{ form_widget(form) }}
        {{ form_label(form) }}
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock %}

{% block form_widget_simple %}
{% spaceless %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock %}

{% block choice_widget_collapsed %}
{% spaceless %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        <label class="{{ multiple ? 'checkbox-inline' : 'radio-inline' }}">
            {{ form_widget(child) }}
            {{ child.vars.label|default(child.vars.name|humanize) }}
        </label>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}

{% block textarea_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock textarea_widget %}

{% block button_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' btn')|trim}) %}
    {{ parent() }}
{% endspaceless %}
{% endblock %}
