{% extends '::base.html.twig' %}

{% block body %}
{% spaceless %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                {% block content '' %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-sm-offset-5">
                {% if is_granted('ROLE_OAUTH_USER') %}
                    <a class="btn btn-primary btn-block btn-xs" href="{{ path('toa_welcome_security_logout') }}">
                        logout
                        {{- ' ' -}}
                        <span class="glyphicon glyphicon-log-out"></span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endspaceless %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% stylesheets
        'bower_components/bootstrap/dist/css/bootstrap.css'
        'bower_components/bootstrap/dist/css/bootstrap-theme.css'
        'bundles/toawelcome/scss/main.scss'
        filter='cssrewrite'
        output='css/compiled/toawelcome.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    {% javascripts
        'bower_components/jquery/jquery.js'
        'bower_components/bootstrap/dist/js/bootstrap.js'
        output='js/compiled/toawelcome.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
